# Site Output
_site/

# Dependency directories
.bundle/
vendor/
node_modules/

# Jekyll metadata
.jekyll-cache/
.jekyll-metadata

# Environment variables
.env

# Mac OS system files
.DS_Store

# Thumbnails
Thumbs.db

# IDE/Text editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# User-specific files
*.swp
*~